sync_calendars.json
{
  "name": "sync-calendars",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        -560
      ],
      "id": "909cded6-be69-4a36-a243-76d2f64e5edc",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "* * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        -780
      ],
      "id": "50b3938f-fb06-4bb4-96b4-e1e60f8f146d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://oponeo-scraper:3001/scrape-oponeo",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{$env.OPONEO_EMAIL}}"
            },
            {
              "name": "password",
              "value": "={{$env.OPONEO_PASSWORD}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -560
      ],
      "id": "4516b9d9-6380-4f97-a796-5dd6cf7152e8",
      "name": "Scrape Oponeo"
    },
    {
      "parameters": {
        "jsCode": "function get_formatted_date(local_date) {\n\tconst warsaw_formatter = new Intl.DateTimeFormat('en-US', {\n\t\ttimeZone: 'Europe/Warsaw',\n\t\tyear: 'numeric',\n\t\tmonth: '2-digit',\n\t\tday: '2-digit',\n\t\thour: '2-digit',\n\t\tminute: '2-digit',\n\t\tsecond: '2-digit',\n\t\thour12: false\n\t});\n\n\tconst [\n\t\t{ value: month },,\n\t\t{ value: day },,\n\t\t{ value: year },,\n\t\t{ value: hour },,\n\t\t{ value: minute },,\n\t\t{ value: second }\n\t] = warsaw_formatter.formatToParts(local_date);\n\n\treturn new Date(`${year}-${month}-${day}T${hour}:${minute}:${second}.000Z`);\n}\nfunction transform_to_wo_format(reservation) {\n    const reservation_details = reservation.details\n\tconst [start, end] = reservation_details.time.split(' - ');\n\n\tconst [day, month, year] = reservation_details.date.split('-').map(Number);\n\tconst [startHour, startMinute] = start.split(':').map(Number);\n\tconst [endHour, endMinute] = end.split(':').map(Number);\n\n\tconst local_start_date = new Date(year, month - 1, day, startHour, startMinute);\n\tconst local_end_date = new Date(year, month - 1, day, endHour, endMinute);\n\n\tconst start_date_time = get_formatted_date(local_start_date);\n\tconst end_date_time = get_formatted_date(local_end_date);\n\n\treturn {\n        type: '1',\n\t\tworkspace: 13096,\n        time: 30,\n\t\tlicencePlate: reservation_details.registration_number || '',\n\t\tfirstname: reservation_details.client_name.split(\" \")[0] || ' ',\n\t\tlastname: reservation_details.client_name.split(\" \")[1] || ' ',\n\t\tphone: reservation_details.phone.replace(/\\D/g, '') || '',\n\t\temail: reservation_details.email || '',\n        category: 1,\n\t\tnotes: reservation.reservation_url || '',\n\t\tfromDate: start_date_time.toISOString(),\n\t\ttoDate: end_date_time.toISOString(),\n        reservationType: \"1\",\n\t};\n}\nconst inputData = $input.all().map(i => i.json);\n\nif(inputData[0].data.length === 0){\n  return [];\n}\n\nconst transformed_data = [];\n\nfor (const reservation of inputData[0].data) {\n  transformed_data.push(transform_to_wo_format(reservation));\n}\n\nreturn transformed_data.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -560
      ],
      "id": "571e6783-f12c-47be-b81d-8e3260b4d944",
      "name": "transform to WO format"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wymianaopon.pl/api/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.WO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -420
      ],
      "id": "ae88fece-cecf-4125-b415-8bac8bab4336",
      "name": "POST to WO calendar",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        660,
        -540
      ],
      "id": "b0e15248-ae40-44f1-bbda-07cf7679db23"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08GS5XHR42",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*⚠️ Konflikt rezerwacji na Oponeo!*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Klient:*\\n{{ $json.firstname }} {{ $json.lastname }}\\n{{ $json.email }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Termin:*\\n• Od: {{ DateTime.fromISO($json.fromDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm') }}\\n• Do: {{ DateTime.fromISO($json.toDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm') }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Nr rejestracyjny:*\\n{{ $json.licencePlate }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Nr telefonu:*\\n{{ $json.phone }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Oponeo link:*\\n<{{ $json.notes }}|Kliknij tutaj>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Wymiana opon wolne terminy:*\\n<https://serwis.wymianaopon.pl/dostepne|Kliknij tutaj>\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"action_id\": \"delete_reservation\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"✅ Odhaczona?\"\n          },\n          \"value\": \"{{ $json.notes.split('/').pop() }}\"\n        }\n      ]\n    }\n  ]\n}\n",
        "text": "={{ $json }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "link_names": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1900,
        -640
      ],
      "id": "37791939-cab6-4c8d-94dc-000c8d709d83",
      "name": "Conflict alert",
      "webhookId": "ef236322-8cac-4f69-b863-e93223accb51",
      "credentials": {
        "slackApi": {
          "id": "EMlcObsDVRuROwOa",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U08GS5XBHPU",
          "mode": "list",
          "cachedResultName": "przemswiercz"
        },
        "text": "KONFLIKT",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1240,
        400
      ],
      "id": "4edd8c80-a076-43cf-aac7-f852cfba4269",
      "name": "Success alert",
      "webhookId": "ef236322-8cac-4f69-b863-e93223accb51",
      "credentials": {
        "slackOAuth2Api": {
          "id": "I3CYohQnEzGmXoJk",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "# sync-calendars\n\nThis workflow runs on a schedule every 15 minutres from 9:00 - 17:00 (opony working hours)\n\nSteps:\n\n1. Trigger: Starts using Schedule Trigger (cron) or manually via Manual Trigger.\n\n2. HTTP Request: Sends a POST request to a local oponeo-scraper:3001 - using auth credentials from environment variables.\n\n3. Code Node: Converts each reservation into a format compatible with WO API. Applies timezone conversion to Europe/Warsaw.\n\n4. HTTP Request: Posts the transformed data to https://api.wymianaopon.pl/api/events.\n(docs https://api.wymianaopon.pl/api/doc)\n\n5. Merge: Combines the original reservation data with the API response.\n\n6. Switch: Checks for errors in the merged data.\n\n7. Slack Alerts (currently not connected):\n   - One node formats and sends a detailed Slack block message.\n   - Another sends a simple Slack message to a specific user. (check if needed)\n",
        "height": 600,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -1220
      ],
      "id": "44066b72-e7e9-4322-b866-f147b552f903",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.notes.split('/').pop() }}",
        "value": "={{ \n  JSON.stringify({\n    licencePlate: $json.licencePlate,\n    firstname: $json.firstname,\n    lastname: $json.lastname,\n    phone: $json.phone,\n    email: $json.email,\n    notes: $json.notes,\n    fromDate: $json.fromDate,\n    toDate: $json.toDate,\n    notification_status: \"pending\",\n  }) \n}}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1620,
        -560
      ],
      "id": "a57b5f82-459b-45e1-930d-c389140ff7fc",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "cNNgFFW5q5OqE5Wt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## If we need it, it's here",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1160,
        320
      ],
      "id": "d667c08a-cb1b-4c33-bbfb-6572c0aea979",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08GUQSK0TE",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "=🔴 *Unexpected WO error code:* {{ $json.error.code }}\n📍 *Message:* {{ $json.error.message }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "link_names": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1840,
        -120
      ],
      "id": "c0f27675-f790-4de1-b163-ad18e8acb34a",
      "name": "Unexpected WO error",
      "webhookId": "ef236322-8cac-4f69-b863-e93223accb51",
      "credentials": {
        "slackApi": {
          "id": "EMlcObsDVRuROwOa",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "=reservation",
        "key": "={{ $json.notes.split('/').pop() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        920,
        -720
      ],
      "id": "3febe5bb-d59a-4660-81e3-8c22fcffc784",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "cNNgFFW5q5OqE5Wt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge results2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1360,
        -560
      ],
      "id": "a222b9c3-9792-4657-a489-8d131dce807b"
    },
    {
      "parameters": {
        "jsCode": "const reservation = JSON.parse($json.reservation);\n\n// Return the fields directly so they are available in the next node\nreturn [{ json: reservation }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        -720
      ],
      "id": "a82e0e83-b02f-42ed-8330-07006f4bc95f",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3bec3317-fe9a-4b3a-8f4a-1474e386e10d",
                    "leftValue": "={{(() => {\n  const reservation = JSON.parse($json.reservation);\n  return reservation.notification_status === 'resolved';\n})()}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "31f8f4a2-aa0e-4cf1-8896-bdda238bac5b",
                    "leftValue": "={{(() => {\n  const reservation = JSON.parse($json.reservation);\n  return reservation.notification_status === 'pending';\n})()}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.reservation }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "a00192b8-0e0a-4a3e-8e40-ba19143d4757"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1180,
        -720
      ],
      "id": "17bf3f2d-d22d-43af-b5e1-ccff68d89dc7",
      "name": "Switch1"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Scrape Oponeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Scrape Oponeo": {
      "main": [
        [
          {
            "node": "transform to WO format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transform to WO format": {
      "main": [
        [
          {
            "node": "POST to WO calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to WO calendar": {
      "main": [
        [
          {
            "node": "Merge results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge results": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge results2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Conflict alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unexpected WO error": {
      "main": [
        []
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge results2": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Conflict alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge results2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "tCSKxIbZoyrgiiO7"
  },
  "versionId": "4908f3ce-996f-40de-8a6e-62c7766f3df7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08c4153b45f22779282b523b971a718ee9621fdc1eefc239e2375b2f35f040cd"
  },
  "id": "3b8QkbJhj4rLmjoN",
  "tags": []
}