workflows/debug-cKnCXnXNoUQH9NvO.json
{"createdAt":"2025-06-03T19:50:15.517Z","updatedAt":"2025-08-22T20:42:02.000Z","id":"cKnCXnXNoUQH9NvO","name":"debug","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"* 22-23 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-336,1120],"id":"fa348552-836a-4a3e-b1a6-999d588fff97","name":"Schedule Trigger1"},{"parameters":{"method":"POST","url":"http://sync-service:3001/oponeo/scraper","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,1120],"id":"dc23ce25-2db4-49f2-ba21-39f0cb206d23","name":"Scrape Oponeo1","retryOnFail":true},{"parameters":{"jsCode":"function transform_to_wo_format(reservation) {\n    const reservation_details = reservation.details\n\tconst [start, end] = reservation_details.time.split(' - ');\n\n\tconst [day, month, year] = reservation_details.date.split('-').map(Number);\n\tconst [startHour, startMinute] = start.split(':').map(Number);\n\tconst [endHour, endMinute] = end.split(':').map(Number);\n\n\tconst local_start_date = new Date(year, month - 1, day, startHour, startMinute);\n\tconst local_end_date = new Date(year, month - 1, day, endHour, endMinute);\n    const start_date_time = new Date(\n      local_start_date.getTime() - local_start_date.getTimezoneOffset() * 60000);\n    const end_date_time = new Date(\n      local_end_date.getTime()   - local_end_date.getTimezoneOffset() * 60000);\n  \n\treturn {\n        type: '1',\n\t\tworkspace: 13096,\n        time: 30,\n\t\tlicencePlate: reservation_details.registration_number || 'OPONEO',\n\t\tfirstname: reservation_details.client_name.split(\" \")[0] || 'Brak informacji',\n\t\tlastname: reservation_details.client_name.split(\" \")[1] || 'Brak informacji',\n\t\tphone: reservation_details.phone.replace(/\\D/g, '') || 'Brak informacji',\n\t\temail: reservation_details.email || '',\n        category: 1,\n        notes: {\n          oponeo_url: reservation.reservation_url || 'Brak informacji',\n          description: reservation.details.description || 'Brak informacji',\n        },\n\t\tfromDate: start_date_time,\n\t\ttoDate: end_date_time,\n        reservationType: \"1\",\n\t};\n}\nconst inputData = $input.all().map(i => i.json);\n\nif(inputData[0].data.length === 0){\n  return [];\n}\n\nconst transformed_data = [];\n\nfor (const reservation of inputData[0].data) {\n  transformed_data.push(transform_to_wo_format(reservation));\n}\n\nreturn transformed_data.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,1120],"id":"e413530d-e79e-4cb6-b614-547c240bb134","name":"transform to WO format1"},{"parameters":{"method":"POST","url":"https://api.wymianaopon.pl/api/events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.WO_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,1264],"id":"86262f6a-8f34-494d-905e-64d25bfa4b9a","name":"POST to WO calendar1","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"mergeByIndex"},"name":"Merge results1","type":"n8n-nodes-base.merge","typeVersion":1,"position":[704,1152],"id":"52c7797f-10cc-4b41-bd23-4b2ab2ab6b0f"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08UVQMGYN9","mode":"id"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*⚠️ Konflikt rezerwacji na Oponeo!*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Klient:*\\n{{ $json.firstname }} {{ $json.lastname }}\\n{{ $json.email }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Termin:*\\n• Od: {{ DateTime.fromISO($json.fromDate).setZone('utc').setLocale('pl').toFormat('d LLLL yyyy, HH:mm') }}\\n• Do: {{ DateTime.fromISO($json.toDate).setZone('utc').setLocale('pl').toFormat('d LLLL yyyy, HH:mm') }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Nr rejestracyjny:*\\n{{ $json.licencePlate }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Nr telefonu:*\\n{{ $json.phone }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Oponeo link:*\\n<{{ $json.notes.oponeo_url }}|Kliknij tutaj>\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*WO wolne terminy:*\\n<https://serwis.wymianaopon.pl/dostepne|Kliknij tutaj>\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n       {\n        \"type\": \"button\",\n        \"action_id\": \"delete_reservation\",\n        \"text\": {\n          \"type\": \"plain_text\",\n          \"text\": \"📝 Odhaczona?\"\n        },\n        \"value\": \"{{ $json.notes.oponeo_url.split('/').pop() }}\",\n        \"confirm\": {\n          \"title\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Potwierdzenie\"\n          },\n          \"text\": {\n            \"type\": \"mrkdwn\",\n            \"text\": \"Czy na pewno chcesz oznaczyć tę rezerwację jako odhaczoną?\"\n          },\n          \"confirm\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Odhacz\"\n          },\n          \"deny\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Anuluj\"\n          }\n  }\n}\n      ]\n    }\n  ]\n}\n","text":"={{ $json }}","otherOptions":{"includeLinkToWorkflow":false,"link_names":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2480,928],"id":"d474045f-4353-4f6c-bf33-24e2c811a9c0","name":"Conflict alert1","webhookId":"ef236322-8cac-4f69-b863-e93223accb51","credentials":{"slackApi":{"id":"6PYTheTObTRlhwek","name":"Slack api"}}},{"parameters":{"content":"DEBUG\n","height":420,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,224],"id":"097f4b65-624c-4f58-8a73-326ab5f14490","name":"Sticky Note2"},{"parameters":{"mode":"mergeByIndex"},"name":"Merge results","type":"n8n-nodes-base.merge","typeVersion":1,"position":[1360,752],"id":"9ee11e39-b681-41ff-b5f3-432213b7c4a1"},{"parameters":{"operation":"get","propertyName":"=reservation","key":"={{ $json.reservationId }}","options":{"dotNotation":true}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1104,720],"id":"a2f33d03-5212-4977-99eb-6461228b78c1","name":"Check if exists","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"mode":"mergeByKey","propertyName1":"reservationId","propertyName2":"reservationId"},"name":"Merge results2","type":"n8n-nodes-base.merge","typeVersion":1,"position":[2032,1120],"id":"9eff5235-b51f-44b7-96b5-2821a26ab507"},{"parameters":{"assignments":{"assignments":[{"id":"cee47e86-9b51-40d4-bcd9-62d3f859df49","name":"reservationId","value":"={{ $json.notes.oponeo_url.split('/').pop() }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,1152],"id":"0c0d403e-5db2-43e7-bb37-0ab2a9a1a9d6","name":"Add reservation id"},{"parameters":{"operation":"set","key":"={{ $json.reservationId }}","value":"={{ \n  JSON.stringify({\n    licencePlate: $json.licencePlate,\n    firstname: $json.firstname,\n    lastname: $json.lastname,\n    phone: $json.phone,\n    email: $json.email,\n    notes: $json.notes,\n    fromDate: $json.fromDate,\n    toDate: $json.toDate,\n    notification_status: \"pending\",\n  }) \n}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2288,1120],"id":"d39b1abe-bdcb-4f6b-ab4d-a83ace4eb92d","name":"Redis1","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"jsCode":"const reservation = JSON.parse($json.reservation);\n\n// Return the fields directly so they are available in the next node\nreturn [{ json: reservation }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2272,720],"id":"0aa3fafe-f1ec-4b0f-9cef-9acf908b65cd","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3bec3317-fe9a-4b3a-8f4a-1474e386e10d","leftValue":"={{(() => {\n  const reservation = JSON.parse($json.reservation);\n  return reservation.notification_status === 'resolved';\n})()}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"31f8f4a2-aa0e-4cf1-8896-bdda238bac5b","leftValue":"={{(() => {\n  const reservation = JSON.parse($json.reservation);\n  return reservation.notification_status === 'pending';\n})()}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"054abd6e-015a-48ae-b826-09c10cce0179","leftValue":"={{(() => {\n  const reservation = JSON.parse($json.reservation);\n  return !reservation && !!$json.error;\n})()}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7d59c735-e164-4c65-9477-d95e757ad45e","leftValue":"={{(() => {\n  const reservation = JSON.parse($json.reservation);\n  return !reservation && !$json.error;\n})()}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{"allMatchingOutputs":false}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1584,720],"id":"2efac2d3-f232-4f10-91c0-415b7fde0c2a","name":"Notification Determinator"},{"parameters":{"mode":"mergeByKey","propertyName1":"reservationId","propertyName2":"reservationId"},"name":"Merge results3","type":"n8n-nodes-base.merge","typeVersion":1,"position":[1408,1008],"id":"8287fa6e-e7f9-4bb8-8f65-3b877f91dc11"},{"parameters":{"operation":"set","key":"={{ $json.reservationId }}","value":"={{ \n  JSON.stringify({\n    licencePlate: $json.licencePlate,\n    firstname: $json.firstname,\n    lastname: $json.lastname,\n    phone: $json.phone,\n    email: $json.email,\n    notes: $json.notes,\n    fromDate: $json.fromDate,\n    toDate: $json.toDate,\n    notification_status: \"resolved\",\n  }) \n}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1600,992],"id":"9512741c-1327-4a85-8fc0-7b6fce5e4a5c","name":"Redis","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"content":"## 0 - reservation acknowledged\n## 1 - reservation waiting for acknowledge (loop)\n## 2 - reservation waiting for acknowledge\n## 3 - reservation without conflict\n","height":300,"width":360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1584,400],"id":"6f4d1467-0046-425e-9573-738e2edfd93c","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"4bf10bb5-782f-40ce-b82d-90051f41a45f","name":"notes","value":"={{ $json.notes.description }}","type":"string"}]},"includeOtherFields":"={{ true }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,1264],"id":"cf8db6a5-1560-4c85-94a8-bce9b8940d65","name":"Take only desc from notes"},{"parameters":{"fromEmail":"calendar-syncer@digito.pl","toEmail":"przemswiercz@gmail.com","subject":"❌ Synchronizacja kalendarzy nie powiodła się","html":"{{(() => {\n  const data = $json;\n  const from = DateTime.fromISO(data.startDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm');\n  const to = DateTime.fromISO(data.endDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm');\n  const reservationId = (data.notes || '').split('/').pop();\n\n  return `\n    <div style=\"max-width:600px; margin:auto; font-family:Arial,sans-serif; background:#ffffff; border-radius:10px; padding:24px; border:1px solid #e0e0e0; color:#333333; box-shadow:0 2px 6px rgba(0,0,0,0.05);\">\n      <p style=\"text-align:center; font-size:15px; margin-bottom:30px;\">Godzina <strong>Do</strong> wykracza poza normalne godziny pracy:</p>\n      \n      <table cellpadding=\"10\" cellspacing=\"0\" style=\"width:100%; font-size:15px; border-collapse:collapse;\">\n        <tr>\n          <td style=\"font-weight:bold; width:40%;\">Termin:</td>\n          <td>\n            • Od: ${from}<br/>\n            • Do: ${to}\n          </td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Numer rejestracyjny:</td>\n          <td>${data.licencePlate || 'Brak'}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Telefon:</td>\n          <td>${data.prefix || ''} ${data.phoneNumber || 'Brak'}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Edytuj rezerwację:</td>\n          <td><a href=\"https://serwis.wymianaopon.pl/zaplanowane\" style=\"color:#0d6efd;\" target=\"_blank\">Kliknij tutaj</a></td>\n        </tr>\n      </table>\n  `;\n})()}}\n"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[0,80],"id":"9cceb377-ef90-4567-aa30-a44eafbc83d0","name":"Mailgun","credentials":{"mailgunApi":{"id":"eo8dvaKCvAnrFo07","name":"Mailgun account"}}},{"parameters":{"fromEmail":"calendar-syncer@digito.pl","toEmail":"przemswiercz@gmail.com","subject":"Konflikt rezerwacji na Oponeo!","text":"=","html":"={{(() => {\n  const data = $json;\n\n  // Format Polish date range\n  const from = DateTime.fromISO(data.fromDate).setZone('utc').setLocale('pl').toFormat('d LLLL yyyy, HH:mm');\n  const to = DateTime.fromISO(data.toDate).setZone('utc').setLocale('pl').toFormat('d LLLL yyyy, HH:mm');\n\n  // Extract reservation ID from Oponeo link\n  const reservationId = data.notes.oponeo_url.split('/').pop();\n\n  return `\n    <div style=\"max-width:600px; margin:auto; font-family:Arial,sans-serif; background:#ffffff; border-radius:10px; padding:24px; border:1px solid #e0e0e0; color:#333333; box-shadow:0 2px 6px rgba(0,0,0,0.05);\">\n      \n      <div style=\"text-align:center; margin-bottom:24px;\">\n        <img src=\"https://blinksoft.pl/assets/opony.png\" alt=\"Logo\" style=\"max-width:50px; height:auto;\" />\n      </div>\n\n      <h2 style=\"text-align:center; color: #000000;\">⚠️ Konflikt rezerwacji Oponeo!</h2>\n      \n      <table cellpadding=\"10\" cellspacing=\"0\" style=\"width:100%; font-size:15px; border-collapse:collapse;\">\n        <tr>\n          <td style=\"font-weight:bold; width:40%;\">Imię:</td>\n          <td>${data.firstname}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Nazwisko:</td>\n          <td>${data.lastname}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Numer Rejestracyjny:</td>\n          <td>${data.licencePlate}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Telefon:</td>\n          <td>${data.phone}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Email:</td>\n          <td>${data.email || 'Brak informacji'}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Data:</td>\n          <td>${from} – ${to}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Oponeo link:</td>\n          <td><a href=\"${data.notes.oponeo_url}\" style=\"color:#0d6efd;\" target=\"_blank\">Kliknij tutaj</a></td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">WO wolne terminy:</td>\n          <td><a href=\"https://serwis.wymianaopon.pl/dostepne\" style=\"color:#0d6efd;\" target=\"_blank\">Kliknij tutaj</a></td>\n        </tr>\n      </table>\n\n      <div style=\"text-align:center; margin-top:30px;\">\n        <a href=\"https://own8n.bieda.it/webhook/74730634-b4fb-4598-ab88-7d37e98ab843?reservationId=${reservationId}\" \n           target=\"_blank\"\n           style=\"background-color:#198754; color:#ffffff; padding:14px 28px; text-decoration:none; font-weight:bold; border-radius:6px; display:inline-block; font-size:16px;\">\n          ✅ Odhacz\n        </a>\n      </div>\n\n      <p style=\"font-size:12px; color:#777; margin-top:20px; text-align:center;\">\n         Aby więcej nie dostawać notyfikacji na temat tej rezerwacji.\n      </p>\n    </div>\n  `;\n})()}}\n"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[2784,928],"id":"802537ca-6089-4c4a-afed-5cb0d7a7cfc3","name":"Mailgun1","credentials":{"mailgunApi":{"id":"eo8dvaKCvAnrFo07","name":"Mailgun account"}}},{"parameters":{"fromEmail":"przemswiercz@gmail.com","toEmail":"info@wladcysieci.pl","subject":"Zgłoszenie - Dzień Admina 2025","html":"<!DOCTYPE html>\n<html lang=\"pl\">\n\t<head>\n\t\t<meta charset=\"UTF-8\" />\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n\t\t<title>LEGO Remote Power System - Konkurs Dzień Admina</title>\n\t</head>\n\t<body\n\t\tstyle=\"\n\t\t\tmargin: 0;\n\t\t\tpadding: 0;\n\t\t\tfont-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,\n\t\t\t\tsans-serif;\n\t\t\tbackground-color: #ffffff;\n\t\t\tcolor: #1a1a1a;\n\t\t\tline-height: 1.6;\n\t\t\"\n\t>\n\t\t<table\n\t\t\tcellpadding=\"0\"\n\t\t\tcellspacing=\"0\"\n\t\t\tborder=\"0\"\n\t\t\twidth=\"100%\"\n\t\t\tstyle=\"background-color: #ffffff\"\n\t\t>\n\t\t\t<tr>\n\t\t\t\t<td align=\"center\" style=\"padding: 40px 20px\">\n\t\t\t\t\t<table\n\t\t\t\t\t\tcellpadding=\"0\"\n\t\t\t\t\t\tcellspacing=\"0\"\n\t\t\t\t\t\tborder=\"0\"\n\t\t\t\t\t\twidth=\"100%\"\n\t\t\t\t\t\tstyle=\"max-width: 680px\"\n\t\t\t\t\t>\n\t\t\t\t\t\t<!-- Main Title with LEGO Logo -->\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"padding-bottom: 48px; text-align: center\">\n\t\t\t\t\t\t\t\t<img\n\t\t\t\t\t\t\t\t\tsrc=\"https://blinksoft.pl/assets/LEGO_logo.png\"\n\t\t\t\t\t\t\t\t\talt=\"LEGO\"\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\theight: 60px;\n\t\t\t\t\t\t\t\t\t\twidth: auto;\n\t\t\t\t\t\t\t\t\t\tmargin-bottom: 24px;\n\t\t\t\t\t\t\t\t\t\tdisplay: inline-block;\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t/>\n\t\t\t\t\t\t\t\t<h3\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\tfont-weight: 700;\n\t\t\t\t\t\t\t\t\t\tmargin: 0 0 16px 0;\n\t\t\t\t\t\t\t\t\t\tcolor: #1a1a1a;\n\t\t\t\t\t\t\t\t\t\tletter-spacing: -0.02em;\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t🧑‍🌾 LEGO Remote Power Btn\n\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\n\t\t\t\t\t\t<!-- Intro Card -->\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"padding-bottom: 32px\">\n\t\t\t\t\t\t\t\t<div\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\tbackground-color: #f9fafb;\n\t\t\t\t\t\t\t\t\t\tborder: 1px solid #e5e7eb;\n\t\t\t\t\t\t\t\t\t\tborder-radius: 12px;\n\t\t\t\t\t\t\t\t\t\tpadding: 24px;\n\t\t\t\t\t\t\t\t\t\tbox-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t<p\n\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\tfont-size: 16px;\n\t\t\t\t\t\t\t\t\t\t\tmargin: 0;\n\t\t\t\t\t\t\t\t\t\t\tcolor: #374151;\n\t\t\t\t\t\t\t\t\t\t\tline-height: 1.7;\n\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\tCześć! Nazywam się Przemek i po godzinach lubię sobie\n\t\t\t\t\t\t\t\t\t\t\"potinkerować\" :). Stworzyłem więc proste, ale przydatne\n\t\t\t\t\t\t\t\t\t\trozwiązanie, dzięki któremu mogę fizycznie włączyć zdalnie laptopa.\n\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\n\t\t\t\t\t\t<!-- Main Image Section -->\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"padding-bottom: 0px; text-align: center;\">\n\t\t\t\t\t\t\t\t\t<p\n\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\tcolor: #94a3b8;\n\t\t\t\t\t\t\t\t\t\t\tmargin: 0 0 8px 0;\n\t\t\t\t\t\t\t\t\t\t\tfont-size: 14px;\n\t\t\t\t\t\t\t\t\t\t\ttext-transform: uppercase;\n\t\t\t\t\t\t\t\t\t\t\tletter-spacing: 0.05em;\n\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\t<img\n\t\t\t\t\t\t\t\t\t\t\tsrc=\"https://blinksoft.pl/assets/LEGO_main.gif\"\n\t\t\t\t\t\t\t\t\t\t\talt=\"LEGO\"\n\t\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\t\theight: 200px;\n\t\t\t\t\t\t\t\t\t\t\t\twidth: auto;\n\t\t\t\t\t\t\t\t\t\t\t\tdisplay: inline-block;\n\t\t\t\t\t\t\t\t\t\t\t\tborder-radius: 12px;\n\t\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t\t/>\n\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\n\t\t\t\t\t\t<!-- Problem Section -->\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"padding-bottom: 48px\">\n\t\t\t\t\t\t\t\t<h2\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\tfont-size: 28px;\n\t\t\t\t\t\t\t\t\t\tfont-weight: 600;\n\t\t\t\t\t\t\t\t\t\tmargin: 0 0 24px 0;\n\t\t\t\t\t\t\t\t\t\tcolor: #1a1a1a;\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\tWyzwanie:\n\t\t\t\t\t\t\t\t</h2>\n\t\t\t\t\t\t\t\t<div\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\tbackground-color: #fef3c7;\n\t\t\t\t\t\t\t\t\t\tborder: 1px solid #fde68a;\n\t\t\t\t\t\t\t\t\t\tborder-radius: 8px;\n\t\t\t\t\t\t\t\t\t\tpadding: 20px;\n\t\t\t\t\t\t\t\t\t\tmargin-bottom: 16px;\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t<p style=\"margin: 0; color: #92400e; font-size: 16px\">\n\t\t\t\t\t\t\t\t\t\tCodziennie uruchamianie\tlaptopa, który zarządza 13 x WYSE do testowania\n\t\t\t\t\t\t\t\t\t\tnaszej aplikacji. Cały setup zlokalizowany jest daleko od naszych biurek (w samym rogu biura).\n\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t<p style=\"font-size: 16px; color: #4b5563; margin: 0\">\n\t\t\t\t\t\t\t\t\tDlatego zamiast tradycyjnego Wake-on-LAN, postanowiłem zbudować coś\n\t\t\t\t\t\t\t\t\tbardziej kreatywnego co pozwoliło mi się zapoznać z lutownicą :).\n\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\n\t\t\t\t\t\t<!-- How It Works -->\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"padding-bottom: 48px\">\n\t\t\t\t\t\t\t\t<h2\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\tfont-size: 28px;\n\t\t\t\t\t\t\t\t\t\tfont-weight: 600;\n\t\t\t\t\t\t\t\t\t\tmargin: 0 0 24px 0;\n\t\t\t\t\t\t\t\t\t\tcolor: #1a1a1a;\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\tJak to działa?\n\t\t\t\t\t\t\t\t</h2>\n\n\t\t\t\t\t\t\t\t<!-- Step 1 -->\n\t\t\t\t\t\t\t\t<div\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\tbackground-color: #ffffff;\n\t\t\t\t\t\t\t\t\t\tborder: 1px solid #e5e7eb;\n\t\t\t\t\t\t\t\t\t\tborder-radius: 8px;\n\t\t\t\t\t\t\t\t\t\tpadding: 20px;\n\t\t\t\t\t\t\t\t\t\tmargin-bottom: 16px;\n\t\t\t\t\t\t\t\t\t\tbox-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t<div style=\"display: flex; align-items: start\">\n\t\t\t\t\t\t\t\t\t\t<span\n\t\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\t\tcolor: white;\n\t\t\t\t\t\t\t\t\t\t\t\tfont-weight: 700;\n\t\t\t\t\t\t\t\t\t\t\t\tfont-size: 14px;\n\t\t\t\t\t\t\t\t\t\t\t\tpadding: 4px 10px;\n\t\t\t\t\t\t\t\t\t\t\t\tborder-radius: 100px;\n\t\t\t\t\t\t\t\t\t\t\t\tmargin-right: 16px;\n\t\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t\t\t>1️⃣</span\n\t\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t\t\t\t\t<h3\n\t\t\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\t\t\tmargin: 0 0 8px 0;\n\t\t\t\t\t\t\t\t\t\t\t\t\tfont-size: 16px;\n\t\t\t\t\t\t\t\t\t\t\t\t\tcolor: #111827;\n\t\t\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\t\t\tHTTP Request\n\t\t\t\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t\t\t\t\t<p style=\"margin: 0; color: #6b7280; font-size: 15px\">\n\t\t\t\t\t\t\t\t\t\t\t\tProste żądanie HTTP do ESP32 z dowolnego miejsca\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\tbackground-color: #1e293b;\n\t\t\t\t\t\t\t\t\t\tborder-radius: 8px;\n\t\t\t\t\t\t\t\t\t\tpadding: 24px;\n\t\t\t\t\t\t\t\t\t\tfont-family: 'Menlo', 'Monaco', 'Courier New', monospace;\n\t\t\t\t\t\t\t\t\t\tfont-size: 14px;\n\t\t\t\t\t\t\t\t\t\tline-height: 1.5;\n\t\t\t\t\t\t\t\t\t\toverflow-x: auto;\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t<span style=\"color: #c084fc;\">// └─$ alias togglemf</span><br>\n\t\t\t\t\t\t\t\t<span style=\"color: #86efac;\">togglemf='curl http://192.168.1.128/toggle_power'</span>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t\t<!-- Step 2 -->\n\t\t\t\t\t\t\t\t<div\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\tbackground-color: #ffffff;\n\t\t\t\t\t\t\t\t\t\tborder: 1px solid #e5e7eb;\n\t\t\t\t\t\t\t\t\t\tborder-radius: 8px;\n\t\t\t\t\t\t\t\t\t\tpadding: 20px;\n\t\t\t\t\t\t\t\t\t\tmargin-bottom: 16px;\n\t\t\t\t\t\t\t\t\t\tbox-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t<div style=\"display: flex; align-items: start\">\n\t\t\t\t\t\t\t\t\t\t<span\n\t\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\t\tcolor: white;\n\t\t\t\t\t\t\t\t\t\t\t\tfont-weight: 700;\n\t\t\t\t\t\t\t\t\t\t\t\tfont-size: 14px;\n\t\t\t\t\t\t\t\t\t\t\t\tpadding: 4px 10px;\n\t\t\t\t\t\t\t\t\t\t\t\tborder-radius: 100px;\n\t\t\t\t\t\t\t\t\t\t\t\tmargin-right: 16px;\n\t\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t\t\t>2️⃣</span\n\t\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t\t\t\t\t<h3\n\t\t\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\t\t\tmargin: 0 0 8px 0;\n\t\t\t\t\t\t\t\t\t\t\t\t\tfont-size: 16px;\n\t\t\t\t\t\t\t\t\t\t\t\t\tcolor: #111827;\n\t\t\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\t\t\tESP32 + WiFi\n\t\t\t\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t\t\t\t\t<p style=\"margin: 0; color: #6b7280; font-size: 15px\">\n\t\t\t\t\t\t\t\t\t\t\t\tMikrokontroler odbiera sygnał i uruchamia serwomechanizm\n\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t\t<!-- Step 3 -->\n\t\t\t\t\t\t\t\t<div\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\tbackground-color: #ffffff;\n\t\t\t\t\t\t\t\t\t\tborder: 1px solid #e5e7eb;\n\t\t\t\t\t\t\t\t\t\tborder-radius: 8px;\n\t\t\t\t\t\t\t\t\t\tpadding: 20px;\n\t\t\t\t\t\t\t\t\t\tmargin-bottom: 16px;\n\t\t\t\t\t\t\t\t\t\tbox-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t<div style=\"display: flex; align-items: start\">\n\t\t\t\t\t\t\t\t\t\t<span\n\t\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\t\tcolor: white;\n\t\t\t\t\t\t\t\t\t\t\t\tfont-weight: 700;\n\t\t\t\t\t\t\t\t\t\t\t\tfont-size: 14px;\n\t\t\t\t\t\t\t\t\t\t\t\tpadding: 4px 10px;\n\t\t\t\t\t\t\t\t\t\t\t\tborder-radius: 100px;\n\t\t\t\t\t\t\t\t\t\t\t\tmargin-right: 16px;\n\t\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t\t\t>3️⃣</span\n\t\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t\t\t\t\t<h3\n\t\t\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\t\t\tmargin: 0 0 8px 0;\n\t\t\t\t\t\t\t\t\t\t\t\t\tfont-size: 16px;\n\t\t\t\t\t\t\t\t\t\t\t\t\tcolor: #111827;\n\t\t\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\t\t\tLudzik rusza widłami\n\t\t\t\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t\t\t\t\t<p style=\"margin: 0; color: #6b7280; font-size: 15px\">\n\t\t\t\t\t\t\t\t\t\t\t\tLudzik LEGO fizycznie wciska przycisk power na laptopie\n\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t\t<!-- Step 4 -->\n\t\t\t\t\t\t\t\t<div\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\tbackground-color: #ffffff;\n\t\t\t\t\t\t\t\t\t\tborder: 1px solid #e5e7eb;\n\t\t\t\t\t\t\t\t\t\tborder-radius: 8px;\n\t\t\t\t\t\t\t\t\t\tpadding: 20px;\n\t\t\t\t\t\t\t\t\t\tbox-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t<div style=\"display: flex; align-items: start\">\n\t\t\t\t\t\t\t\t\t\t<span\n\t\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\t\tbackground-color: #10b981;\n\t\t\t\t\t\t\t\t\t\t\t\tcolor: white;\n\t\t\t\t\t\t\t\t\t\t\t\tfont-weight: 700;\n\t\t\t\t\t\t\t\t\t\t\t\tfont-size: 14px;\n\t\t\t\t\t\t\t\t\t\t\t\tpadding: 4px 10px;\n\t\t\t\t\t\t\t\t\t\t\t\tborder-radius: 100px;\n\t\t\t\t\t\t\t\t\t\t\t\tmargin-right: 16px;\n\t\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t\t\t>✓</span\n\t\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t\t\t\t\t<h3\n\t\t\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\t\t\tmargin: 0 0 8px 0;\n\t\t\t\t\t\t\t\t\t\t\t\t\tfont-size: 16px;\n\t\t\t\t\t\t\t\t\t\t\t\t\tcolor: #111827;\n\t\t\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\t\t\tLaptop uruchamia się i automatycznie startuje 13\n\t\t\t\t\t\t\t\t\t\t\t\tkomputerów testowych!\n\t\t\t\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"padding-bottom: 0px; text-align: center;\">\n\t\t\t\t\t\t\t\t\t<p\n\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\tcolor: #94a3b8;\n\t\t\t\t\t\t\t\t\t\t\tmargin: 0 0 8px 0;\n\t\t\t\t\t\t\t\t\t\t\tfont-size: 14px;\n\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\t<img\n\t\t\t\t\t\t\t\t\t\t\tsrc=\"https://blinksoft.pl/assets/LEGO_second.gif\"\n\t\t\t\t\t\t\t\t\t\t\talt=\"LEGO\"\n\t\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\t\theight: 200px;\n\t\t\t\t\t\t\t\t\t\t\t\twidth: auto;\n\t\t\t\t\t\t\t\t\t\t\t\tdisplay: inline-block;\n\t\t\t\t\t\t\t\t\t\t\t\tborder-radius: 12px;\n\t\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t\t/>\n\t\t\t\t\t\t\t\t\t\t<img\n\t\t\t\t\t\t\t\t\t\t\tsrc=\"https://blinksoft.pl/assets/LEGO_full.jpg\"\n\t\t\t\t\t\t\t\t\t\t\talt=\"LEGO\"\n\t\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\t\theight: 200px;\n\t\t\t\t\t\t\t\t\t\t\t\twidth: auto;\n\t\t\t\t\t\t\t\t\t\t\t\tdisplay: inline-block;\n\t\t\t\t\t\t\t\t\t\t\t\tborder-radius: 12px;\n\t\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t\t/>\n\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\n\t\t\t\t\t\t<!-- Photo Gallery -->\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"padding-bottom: 24px\">\n\t\t\t\t\t\t\t\t<h2\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\tfont-size: 28px;\n\t\t\t\t\t\t\t\t\t\tfont-weight: 600;\n\t\t\t\t\t\t\t\t\t\tmargin: 24px 0 8px 0;\n\t\t\t\t\t\t\t\t\t\tcolor: #1a1a1a;\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t⚙️ Galeria\n\t\t\t\t\t\t\t\t</h2>\n\t\t\t\t\t\t\t\t\t\t<p style=\"\n\t\t\t\t\t\t\t\t\t\t\tfont-size: 16px;\n\t\t\t\t\t\t\t\t\t\t\tcolor: #6b7280;\n\t\t\t\t\t\t\t\t\t\t\tmargin: 0 0 0 0;\n\t\t\t\t\t\t\t\t\t\t\ttext-align: center;\n\t\t\t\t\t\t\t\t\t\t\tline-height: 1.6;\n\t\t\t\t\t\t\t\t\t\t\">\n\t\t\t\t\t\t\t\t\t\t\tNa poniższych zdjęciach przedstawiam krótki proces tworzenia mojego LEGO power button.\n\t\t\t\t\t\t\t\t\t\t</p>\n<tr>\n\t<td style=\"padding-bottom: 24px\">\n\t\t<tr>\n\t\t\t<td style=\"text-align: center;\">\n\t\t\t\t<div\n\t\t\t\t\tstyle=\"\n\t\t\t\t\t\tbackground-color: #f3f4f6;\n\t\t\t\t\t\tborder-radius: 8px;\n\t\t\t\t\t\tpadding: 20px;\n\t\t\t\t\t\ttext-align: center;\n\t\t\t\t\t\tdisplay: inline-block;\n\t\t\t\t\t\twidth: 100%;\n\t\t\t\t\t\tbox-sizing: border-box;\n\t\t\t\t\t\"\n\t\t\t\t>\n\t\t\t\t\t<div style=\"text-align: center; line-height: 0;\">\n\t\t\t\t\t\t<img\n\t\t\t\t\t\t\tsrc=\"https://blinksoft.pl/assets/LEGO_esp.jpg\"\n\t\t\t\t\t\t\talt=\"ESP32 z komponentami\"\n\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\theight: 200px;\n\t\t\t\t\t\t\t\twidth: auto;\n\t\t\t\t\t\t\t\tdisplay: inline-block;\n\t\t\t\t\t\t\t\tborder-radius: 12px;\n\t\t\t\t\t\t\t\tmargin: 8px;\n\t\t\t\t\t\t\t\tvertical-align: top;\n\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t/>\n\t\t\t\t\t\t<img\n\t\t\t\t\t\t\tsrc=\"https://blinksoft.pl/assets/LEGO_bold.jpg\"\n\t\t\t\t\t\t\talt=\"Lutowanie komponentów\"\n\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\theight: 200px;\n\t\t\t\t\t\t\t\twidth: auto;\n\t\t\t\t\t\t\t\tdisplay: inline-block;\n\t\t\t\t\t\t\t\tborder-radius: 12px;\n\t\t\t\t\t\t\t\tmargin: 8px;\n\t\t\t\t\t\t\t\tvertical-align: top;\n\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t/>\n\t\t\t\t\t\t<img\n\t\t\t\t\t\t\tsrc=\"https://blinksoft.pl/assets/LEGO_random.jpg\"\n\t\t\t\t\t\t\talt=\"Montaż mechanizmu\"\n\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\theight: 200px;\n\t\t\t\t\t\t\t\twidth: auto;\n\t\t\t\t\t\t\t\tdisplay: inline-block;\n\t\t\t\t\t\t\t\tborder-radius: 12px;\n\t\t\t\t\t\t\t\tmargin: 8px;\n\t\t\t\t\t\t\t\tvertical-align: top;\n\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t/>\n\t\t\t\t\t\t<img\n\t\t\t\t\t\t\tsrc=\"https://blinksoft.pl/assets/LEGO_glue.jpg\"\n\t\t\t\t\t\t\talt=\"Finalne połączenia\"\n\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\theight: 200px;\n\t\t\t\t\t\t\t\twidth: auto;\n\t\t\t\t\t\t\t\tdisplay: inline-block;\n\t\t\t\t\t\t\t\tborder-radius: 12px;\n\t\t\t\t\t\t\t\tmargin: 8px;\n\t\t\t\t\t\t\t\tvertical-align: top;\n\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t/>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</td>\n\t\t</tr>\n\t</td>\n</tr>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\n\t\t\t\t\t\t<!-- Why Section -->\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"padding-bottom: 48px\">\n\t\t\t\t\t\t\t\t<div\n\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\tbackground: linear-gradient(\n\t\t\t\t\t\t\t\t\t\t\t135deg,\n\t\t\t\t\t\t\t\t\t\t\t#6366f1 0%,\n\t\t\t\t\t\t\t\t\t\t\t#8b5cf6 100%\n\t\t\t\t\t\t\t\t\t\t);\n\t\t\t\t\t\t\t\t\t\tborder-radius: 12px;\n\t\t\t\t\t\t\t\t\t\tpadding: 32px;\n\t\t\t\t\t\t\t\t\t\tmargin-top: 24px;\n\t\t\t\t\t\t\t\t\t\ttext-align: center;\n\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t<h2\n\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\tcolor: #ffffff;\n\t\t\t\t\t\t\t\t\t\t\tfont-size: 24px;\n\t\t\t\t\t\t\t\t\t\t\tfont-weight: 600;\n\t\t\t\t\t\t\t\t\t\t\tmargin: 0 0 0 0;\n\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\tCiekawostka?\n\t\t\t\t\t\t\t\t\t</h2>\n\t\t\t\t\t\t\t\t\t<p\n\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\tcolor: #e0e7ff;\n\t\t\t\t\t\t\t\t\t\t\tfont-size: 17px;\n\t\t\t\t\t\t\t\t\t\t\tline-height: 1.7;\n\t\t\t\t\t\t\t\t\t\t\tmargin: 0;\n\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t\t\tPierwotnie całość była...koparką :)\n\n\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t\t\t\t<img\n\t\t\t\t\t\t\t\t\t\t\tsrc=\"https://blinksoft.pl/assets/LEGO_excavator.jpg\"\n\t\t\t\t\t\t\t\t\t\t\talt=\"LEGO\"\n\t\t\t\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\t\t\t\theight: 200px;\n\t\t\t\t\t\t\t\t\t\t\t\twidth: auto;\n\t\t\t\t\t\t\t\t\t\t\t\tdisplay: inline-block;\n\t\t\t\t\t\t\t\t\t\t\t\tborder-radius: 12px;\n\t\t\t\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t\t\t\t/>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\n\t\t\t\t\t\t<!-- Footer -->\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td\n\t\t\t\t\t\t\t\tstyle=\"\n\t\t\t\t\t\t\t\t\tpadding: 32px 0;\n\t\t\t\t\t\t\t\t\ttext-align: center;\n\t\t\t\t\t\t\t\t\tborder-top: 1px solid #e5e7eb;\n\t\t\t\t\t\t\t\t\"\n\t\t\t\t\t\t\t>\n\t\t\t\t\t\t\t\t<p style=\"color: #6b7280; margin: 0; font-size: 14px\">\n\t\t\t\t\t\t\t\t\tProjekt zgłoszony do konkursu z okazji\n\n\t\t\t\t\t\t\t\t\t<a href=\"https://wladcysieci.pl/2025/07/25/dzien-admina-2025-pokaz-kim-jestes-po-godzinach-bo-admin-tez-czlowiek/\"><strong>Dnia Admina 2025</strong></a>\n\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"padding: 32px 0; border-top: 1px solid #e5e7eb;\">\n\t\t\t\t\t\t\t\t<div style=\"color: #6b7280; font-size: 14px; line-height: 1.8;\">\n\t\t\t\t\t\t\t\t\t<div><strong>Imię i nazwisko:</strong> Przemysław Świercz</div>\n\t\t\t\t\t\t\t\t\t<div><strong>Adres:</strong> Świętego Michała 100/310</div>\n\t\t\t\t\t\t\t\t\t<div><strong>Kod pocztowy i miasto:</strong> 61-005 Poznań</div>\n\t\t\t\t\t\t\t\t\t<div><strong>Telefon:</strong> +48 667 966 255</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</table>\n\t\t\t\t</td>\n\t\t\t</tr>\n\t\t</table>\n\t</body>\n</html>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2800,1536],"id":"cd182cc1-0df9-4efc-a270-915291960016","name":"Send email","webhookId":"6104ee90-2ad8-49a4-979e-edf6b8e756f8","credentials":{"smtp":{"id":"X8338yhNw5ePgJQA","name":"SMTP account"}}},{"parameters":{"mode":"mergeByIndex"},"name":"Merge results4","type":"n8n-nodes-base.merge","typeVersion":1,"position":[128,2448],"id":"8700eec9-8ea9-473a-9c34-b85327b8457a"},{"parameters":{"jsCode":"// n8n Custom Code Node\n// This code compares redisValue times with item dates\n// Get input items\nconst input = $input.all()[0].json;\n\nif (input.withinHoursReservations.length < 0) {\n  return [];\n}\n\nconst {withinHoursReservations} = input;\n\nconst convertToZulu = (timestamp) => {\n  return new Date(timestamp.replace(/(\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2})\\+\\d{2}:\\d{2}$/, '$1.000Z'));\n};\n\n// Process each item\nconst outputItems = withinHoursReservations.map((item) => {\n    if(!item.redisValue) return null;\n  \n    // Parse the redisValue JSON string\n    const redisData = JSON.parse(item.redisValue);\n    \n    // Extract Redis times\n    const redisStartTime = new Date(redisData.startTime);\n    const redisEndTime = new Date(redisData.endTime);\n    \n    // Get item dates\n    const itemStartDate = item.startDate ? convertToZulu(item.startDate) : null;\n    const itemEndDate = item.endDate ? convertToZulu(item.endDate) : null;\n    \n    // Perform comparisons\n    const startTimeMatch = itemStartDate ? redisStartTime.getTime() === itemStartDate.getTime() : false;\n    const endTimeMatch = itemEndDate ? redisEndTime.getTime() === itemEndDate.getTime() : false;\n    const timesMatch = startTimeMatch && endTimeMatch;\n    \n    // Only return item if times DON'T match\n    if (!timesMatch) {\n      return {\n        json: {\n            oponeoReservationId: redisData.oponeoReservationId,\n        }\n      };\n    }\n    \n    // Return null for matching times (will be filtered out)\n    return null;\n \n}).filter(item => item !== null); // Remove null items\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,2192],"id":"7398dec3-4abe-40fd-93bb-1689974c67c2","name":"Code2"},{"parameters":{"assignments":{"assignments":[{"id":"af150d69-a5ea-487c-b80a-4f55ac939e3b","name":"=id","value":"={{ $json.id.toString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,2528],"id":"feec0dd2-7327-4b94-9ef0-7bb8ee94c510","name":"Edit Fields"},{"parameters":{"operation":"get","propertyName":"=redisValue","key":"=WO:{{ $json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-96,2528],"id":"48d08250-a1d5-49d5-ad9b-9b073e6de379","name":"Redis3","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"fieldToSplitOut":"data.items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-544,2432],"id":"535cb2c5-f7e2-4fc3-99f9-6945505fe441","name":"Split Out"},{"parameters":{"jsCode":"// This code prepares Redis-ready key-value pairs from nested reservation objects\nconst results = $json.results || [];\n\nreturn results.map(item => {\n  return {\n    json: {\n      key: String(item.reservation.woReservationId),\n      value: JSON.stringify({\n        oponeoReservationId: item.reservationId,\n        startTime: item.startTime,\n        endTime: item.endTime,\n        lastSeen: new Date().toISOString(),\n      }),\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,2448],"id":"b59f8158-14af-4cbf-a7de-1404dcfe1bfa","name":"Code1"},{"parameters":{"operation":"set","key":"=WO:{{ $json.key }}","value":"={{ $json.value }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1824,2448],"id":"2da8dd0b-d6c7-4a6e-8390-d8fecb0a6dec","name":"Redis2","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"jsCode":"if ($input.first().json.outOfHoursReservations.length > 0) {\n  return $input.first().json.outOfHoursReservations\n} else {\n  return [];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,2688],"id":"f5785c87-196a-4e5f-9d6d-8c0d6c7c6c5f","name":"Check for out of hours reservations"},{"parameters":{"jsCode":"const inputData = $input.all().map(i => i.json);\nreturn [\n  {\n    json: (() => {\n      const outOfHoursReservations = [];\n      const withinHoursReservations = [];\n      let hour;\n      \n      for (const reservation of inputData) {\n\n        // fresh resrvations comes with UTC while edited are in Europe/Warsaw Tz ]:\n        const isWarsawWinterTz = reservation.endDate.match(/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\+01:00$/);\n        const endDate = new Date(reservation.endDate);\n        \n        \n        if(isWarsawWinterTz) {\n          hour = endDate.getUTCHours() + 1;\n        } else {\n          hour = endDate.getUTCHours() + 2;\n        }\n        \n        const minutes = endDate.getUTCMinutes();\n\n        const isOutsideWorkingHours = hour > 17 || (hour === 17 && minutes > 0);\n\n        if (isOutsideWorkingHours) {\n          outOfHoursReservations.push(reservation);\n        } else {\n          withinHoursReservations.push(reservation);\n        }\n      }\n\n      return {\n        outOfHoursReservations,\n        withinHoursReservations,\n      };\n    })()\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,2448],"id":"7a73ae3e-30e7-4876-a46b-608f719c0b0c","name":"Reservation Splitter"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08UVQMGYN9","mode":"id"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*❌ Synchronizacja dla poniższej rezerwacji nie powiodła się, godzina 'Do' wykracza poza normalne godziny pracy:*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Termin:*\\n• Od: {{ DateTime.fromISO($json.startDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm') }}\\n• Do: {{ DateTime.fromISO($json.endDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm') }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Nr rejestracyjny:*\\n{{ $json.licencePlate || 'Brak' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Telefon:*\\n{{ $json.prefix || '' }} {{ $json.phoneNumber || 'Brak' }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"\\n<https://serwis.wymianaopon.pl/zaplanowane|Edytuj rezerwację bezpośrednio w WO>\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    }\n  ]\n}\n","text":"={{ $json }}","otherOptions":{"includeLinkToWorkflow":false,"link_names":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[928,2816],"id":"c5537785-356d-49dc-b83d-ee2b092ff87e","name":"Conflict alert","webhookId":"ef236322-8cac-4f69-b863-e93223accb51","credentials":{"slackApi":{"id":"6PYTheTObTRlhwek","name":"Slack api"}}},{"parameters":{"jsCode":"// n8n JavaScript Code Node\nconst input = $input.first().json\n\nif (input.withinHoursReservations.length < 0) {\n  return [];\n}\n\nconst {withinHoursReservations} = input;\nconst TICKS_PER_MILLISECOND = 10000;\nconst EPOCH_TICKS_AT_UNIX_EPOCH = 621355968000000000;\n\nfunction convertToUnixEpochWarsaw(isoDateString) {\n\tif (!isoDateString) return null;\n\ttry {\n\t\tconst date = new Date(isoDateString);\n\t\tif (isNaN(date.getTime())) return null;\n\n\t\t// Convert to Warsaw time\n\t\tconst formatter = new Intl.DateTimeFormat('pl-PL', {\n\t\t\ttimeZone: 'Europe/Warsaw',\n\t\t\tyear: 'numeric',\n\t\t\tmonth: '2-digit',\n\t\t\tday: '2-digit',\n\t\t\thour: '2-digit',\n\t\t\tminute: '2-digit',\n\t\t\tsecond: '2-digit',\n\t\t});\n\n\t\tconst parts = formatter.formatToParts(date).reduce((acc, part) => {\n\t\t\tacc[part.type] = part.value;\n\t\t\treturn acc;\n\t\t}, {});\n\n\t\t// Construct local datetime string in Warsaw time\n\t\tconst warsawDateString = `${parts.year}-${parts.month}-${parts.day}T${parts.hour}:${parts.minute}:${parts.second}`;\n\t\tconst warsawDate = new Date(warsawDateString);\n\n\t\treturn warsawDate.getTime() * TICKS_PER_MILLISECOND + EPOCH_TICKS_AT_UNIX_EPOCH;\n\t} catch (error) {\n\t\tconsole.warn(`Failed Warsaw conversion for ${isoDateString}`, error);\n\t\treturn null;\n\t}\n}\n\nfunction parseEvent(event) {\n\treturn {\n\t\twoReservationId: event.id || null,\n\t\tphoneNumber: event.phoneNumber || null,\n\t\tlicencePlate: event.licencePlate || null,\n\t\tstartDate: convertToUnixEpochWarsaw(event.startDate),\n\t\tendDate: convertToUnixEpochWarsaw(event.endDate),\n        redisValue: event.redisValue,\n\t};\n}\n\nconst output = withinHoursReservations.map((item) => parseEvent(item)) || [];\n\nreturn [{\n  json: {\n    debug_mode: false,\n    reservations: output.map(item => item)\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,2448],"id":"eb7f1fc5-0ccb-420f-b019-5600ecd9b85b","name":"Prepare data for Oponeo"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 15 * 1 sun"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-992,2432],"id":"a022e1c2-d61e-466e-89b1-bf3f8107ec07","name":"Schedule Trigger"},{"parameters":{"fromEmail":"przemswiercz@gmail.com","toEmail":"przemek.swiercz@mindyra.com","subject":"❌ Synchronizacja kalendarzy nie powiodła się","html":"={{(() => {\n  const data = $json;\n  const from = DateTime.fromISO(data.startDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm');\n  const to = DateTime.fromISO(data.endDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm');\n  const reservationId = (data.notes || '').split('/').pop();\n\n  return `\n    <div style=\"max-width:600px; margin:auto; font-family:Arial,sans-serif; background:#ffffff; border-radius:10px; padding:24px; border:1px solid #e0e0e0; color:#333333; box-shadow:0 2px 6px rgba(0,0,0,0.05);\">\n      <p style=\"text-align:center; font-size:15px; margin-bottom:30px;\">Godzina <strong>Do</strong> wykracza poza normalne godziny pracy:</p>\n      \n      <table cellpadding=\"10\" cellspacing=\"0\" style=\"width:100%; font-size:15px; border-collapse:collapse;\">\n        <tr>\n          <td style=\"font-weight:bold; width:40%;\">Termin:</td>\n          <td>\n            • Od: ${from}<br/>\n            • Do: ${to}\n          </td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Numer rejestracyjny:</td>\n          <td>${data.licencePlate || 'Brak'}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Telefon:</td>\n          <td>${data.prefix || ''} ${data.phoneNumber || 'Brak'}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Edytuj rezerwację:</td>\n          <td><a href=\"https://serwis.wymianaopon.pl/zaplanowane\" style=\"color:#0d6efd;\" target=\"_blank\">Kliknij tutaj</a></td>\n        </tr>\n      </table>\n  `;\n})()}}\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[928,2560],"id":"b0e4c10f-8ca0-4665-b61e-65b0d2df4499","name":"Send Email1","webhookId":"6104ee90-2ad8-49a4-979e-edf6b8e756f8","credentials":{"smtp":{"id":"X8338yhNw5ePgJQA","name":"SMTP account"}}},{"parameters":{"functionCode":"const [woEvents] = $items(\"Get WO Events\", 0).map(item => item.json);\nconst redisRecordsArray = $items(\"Current Redis Records\", 0).map(item => item.json)[0];\n\n// Convert Redis object to array\nconst redisRecords = Object.entries(redisRecordsArray || {}).map(([key, value]) => {\n  try {\n    const data = JSON.parse(value);\n    data.wo_id = +key.split(\":\")[1];\n    return data;\n  } catch (e) {\n    return null;\n  }\n}).filter(Boolean);\n\nconst deletes = [];\n\nfor (const rec of redisRecords) {\n  const foundWO = woEvents.data.items.find(e => e.id === rec.wo_id);\n  \n  if (!foundWO) {\n      deletes.push({ \n        woId: rec.wo_id,\n        oponeoReservationId: rec.oponeoReservationId, \n      });\n  }\n}\n\nreturn deletes;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[-336,2096],"name":"Compare & Split","id":"68bc0684-d561-4af8-9fe7-2526fb726fca"},{"parameters":{"operation":"keys","keyPattern":"WO:*"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-544,2096],"id":"bc5f53aa-3203-401e-92db-6b2ccdba77d1","name":"Current Redis Records","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"url":"http:/sync-service:3001/wo/events","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-768,2432],"id":"f35a9869-8420-4592-89c4-35db942761af","name":"Get WO Events"},{"parameters":{"method":"POST","url":"http:/sync-service:3001/oponeo/obliterator","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-128,2208],"id":"c2cf82bd-6cf5-4c72-a654-365c90fb7d29","name":"Obliterator"},{"parameters":{"method":"POST","url":"http:/sync-service:3001/oponeo/obliterator","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,2192],"id":"3b77af09-919e-441d-ab60-298941f3071a","name":"Obliterator1"},{"parameters":{"method":"POST","url":"http:/sync-service:3001/oponeo/mutator","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,2448],"id":"9f34452d-1909-4f0c-9b8d-541dbcb40f42","name":"Mutator"},{"parameters":{"operation":"delete","key":"=WO:{{ $json.woId }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-128,2000],"id":"600be141-6dc1-467f-be33-5c645e7994bb","name":"Redis4","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"mode":"mergeByIndex"},"name":"Merge results5","type":"n8n-nodes-base.merge","typeVersion":1,"position":[-16,4240],"id":"97d5e538-ba35-44b2-ba4e-bcf0b9ed1242"},{"parameters":{"method":"POST","url":"http:/sync-service:3001/oponeo/obliterator","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,4400],"id":"a1a0b780-e01a-439b-868e-816ba2f6d5b9","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"http:/sync-service:3001/oponeo/mutator","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,4240],"id":"270a0039-93e9-49ef-bebb-cbfd9eeb285c","name":"HTTP Request1"},{"parameters":{"url":"http:/sync-service:3001/wo/events","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1952,4208],"id":"e5fc2070-baca-4242-9c24-246614d79370","name":"HTTP Request"},{"parameters":{"jsCode":"if ($input.first().json.outOfHoursReservations.length > 0) {\n  return $input.first().json.outOfHoursReservations\n} else {\n  return [];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,4016],"id":"710573e5-2682-48c6-b9ca-69b9a1353aa5","name":"Check for out of hours reservations1"},{"parameters":{"jsCode":"const inputData = $input.all().map(i => i.json);\nreturn [\n  {\n    json: (() => {\n      const outOfHoursReservations = [];\n      const withinHoursReservations = [];\n      let hour;\n      \n      for (const reservation of inputData) {\n\n        // fresh resrvations comes with UTC while edited are in Europe/Warsaw Tz ]:\n        const isWarsawWinterTz = reservation.endDate.match(/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\+01:00$/);\n        const endDate = new Date(reservation.endDate);\n        \n        \n        if(isWarsawWinterTz) {\n          hour = endDate.getUTCHours() + 1;\n        } else {\n          hour = endDate.getUTCHours() + 2;\n        }\n        \n        const minutes = endDate.getUTCMinutes();\n\n        const isOutsideWorkingHours = hour > 17 || (hour === 17 && minutes > 0);\n\n        if (isOutsideWorkingHours) {\n          outOfHoursReservations.push(reservation);\n        } else {\n          withinHoursReservations.push(reservation);\n        }\n      }\n\n      return {\n        outOfHoursReservations,\n        withinHoursReservations,\n      };\n    })()\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,4224],"id":"da07991b-e898-4560-b962-fff82459c455","name":"Reservation Splitter1"},{"parameters":{"jsCode":"// n8n JavaScript Code Node\nconst input = $input.all()[0].json;\n\nif (input.withinHoursReservations.length < 0) {\n  return [];\n}\n\nconst {withinHoursReservations} = input;\nconst TICKS_PER_MILLISECOND = 10000;\nconst EPOCH_TICKS_AT_UNIX_EPOCH = 621355968000000000;\n\nfunction convertToUnixEpochWarsaw(isoDateString) {\n\tif (!isoDateString) return null;\n\ttry {\n\t\tconst date = new Date(isoDateString);\n\t\tif (isNaN(date.getTime())) return null;\n\n\t\t// Convert to Warsaw time\n\t\tconst formatter = new Intl.DateTimeFormat('pl-PL', {\n\t\t\ttimeZone: 'Europe/Warsaw',\n\t\t\tyear: 'numeric',\n\t\t\tmonth: '2-digit',\n\t\t\tday: '2-digit',\n\t\t\thour: '2-digit',\n\t\t\tminute: '2-digit',\n\t\t\tsecond: '2-digit',\n\t\t});\n\n\t\tconst parts = formatter.formatToParts(date).reduce((acc, part) => {\n\t\t\tacc[part.type] = part.value;\n\t\t\treturn acc;\n\t\t}, {});\n\n\t\t// Construct local datetime string in Warsaw time\n\t\tconst warsawDateString = `${parts.year}-${parts.month}-${parts.day}T${parts.hour}:${parts.minute}:${parts.second}`;\n\t\tconst warsawDate = new Date(warsawDateString);\n\n\t\treturn warsawDate.getTime() * TICKS_PER_MILLISECOND + EPOCH_TICKS_AT_UNIX_EPOCH;\n\t} catch (error) {\n\t\tconsole.warn(`Failed Warsaw conversion for ${isoDateString}`, error);\n\t\treturn null;\n\t}\n}\n\nfunction parseEvent(event) {\n\treturn {\n\t\twoReservationId: event.id || null,\n\t\tphoneNumber: event.phoneNumber || null,\n\t\tlicencePlate: event.licencePlate || null,\n\t\tstartDate: convertToUnixEpochWarsaw(event.startDate),\n\t\tendDate: convertToUnixEpochWarsaw(event.endDate),\n\t};\n}\n\nconst output = withinHoursReservations.map((item) => parseEvent(item)) || [];\n\nreturn [{\n  json: {\n    debug_mode: false,\n    reservations: output.map(item => item)\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,4240],"id":"a64e8ade-2e23-4bdf-a165-6bba357f135d","name":"Prepare data for Oponeo1"},{"parameters":{"workflowId":{"__rl":true,"value":"X6Yzdzg8neppbMAW","mode":"list","cachedResultName":"syncer: OPONEO => WO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[752,4032],"id":"7288d048-9297-4aae-9689-b929f33ab421","name":"OPONEO => WO1"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C090JGLJ4VC","mode":"id"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*❌ Synchronizacja dla poniższej rezerwacji nie powiodła się, godzina 'Do' wykracza poza normalne godziny pracy:*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Termin:*\\n• Od: {{ DateTime.fromISO($json.startDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm') }}\\n• Do: {{ DateTime.fromISO($json.endDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm') }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Nr rejestracyjny:*\\n{{ $json.licencePlate || 'Brak' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Telefon:*\\n{{ $json.prefix || '' }} {{ $json.phoneNumber || 'Brak' }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"\\n<https://serwis.wymianaopon.pl/zaplanowane|Edytuj rezerwację bezpośrednio w WO>\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    }\n  ]\n}\n","text":"={{ $json }}","otherOptions":{"includeLinkToWorkflow":false,"link_names":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-320,4112],"id":"ae27ab54-f3b7-449f-b8f7-5d6f0fa3b3d7","name":"OutOfHours Alert","webhookId":"ef236322-8cac-4f69-b863-e93223accb51","credentials":{"slackApi":{"id":"6PYTheTObTRlhwek","name":"Slack api"}}},{"parameters":{"fromEmail":"calendar-syncer@digito.pl","toEmail":"hurt@digito.com.pl","subject":"❌ Synchronizacja kalendarzy nie powiodła się","html":"={{(() => {\n  const data = $json;\n  const from = DateTime.fromISO(data.startDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm');\n  const to = DateTime.fromISO(data.endDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm');\n  const reservationId = (data.notes || '').split('/').pop();\n\n  return `\n    <div style=\"max-width:600px; margin:auto; font-family:Arial,sans-serif; background:#ffffff; border-radius:10px; padding:24px; border:1px solid #e0e0e0; color:#333333; box-shadow:0 2px 6px rgba(0,0,0,0.05);\">\n      <div style=\"text-align:center; margin-bottom:24px;\">\n        <img src=\"https://blinksoft.pl/assets/opony.png\" alt=\"Logo\" style=\"max-width:50px; height:auto;\" />\n      </div>\n\n      <p style=\"text-align:center; font-size:15px; margin-bottom:30px;\">Godzina <strong>Do</strong> wykracza poza normalne godziny pracy:</p>\n\n      <table cellpadding=\"10\" cellspacing=\"0\" style=\"width:100%; font-size:15px; border-collapse:collapse;\">\n        <tr>\n          <td style=\"font-weight:bold; width:40%;\">Termin:</td>\n          <td>\n            • Od: ${from}<br/>\n            • Do: ${to}\n          </td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Numer rejestracyjny:</td>\n          <td>${data.licencePlate || 'Brak'}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Telefon:</td>\n          <td>${data.prefix || ''} ${data.phoneNumber || 'Brak'}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Edytuj rezerwację:</td>\n          <td><a href=\"https://serwis.wymianaopon.pl/zaplanowane\" style=\"color:#0d6efd;\" target=\"_blank\">Kliknij tutaj</a></td>\n        </tr>\n      </table>\n    </div>\n  `;\n})()}}\n"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[-320,3936],"id":"0439148c-1de3-4729-98d9-6f45c9b210ea","name":"Mailgun2","credentials":{"mailgunApi":{"id":"eo8dvaKCvAnrFo07","name":"Mailgun account"}}},{"parameters":{"mode":"mergeByIndex"},"name":"Merge results6","type":"n8n-nodes-base.merge","typeVersion":1,"position":[-1056,4224],"id":"6cf61aec-328c-4d76-a179-81bd553cbd9b"},{"parameters":{"jsCode":"// n8n Custom Code Node\n// This code compares redisValue times with item dates\n// Get input items\nconst input = $input.all()[0].json;\n\nif (input.withinHoursReservations.length < 0) {\n  return [];\n}\n\nconst {withinHoursReservations} = input;\n\nconst convertToZulu = (timestamp) => {\n  return new Date(timestamp.replace(/(\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2})\\+\\d{2}:\\d{2}$/, '$1.000Z'));\n};\n\n// Process each item\nconst outputItems = withinHoursReservations.map((item) => {\n    if(!item.redisValue) return null;\n  \n    // Parse the redisValue JSON string\n    const redisData = JSON.parse(item.redisValue);\n    \n    // Extract Redis times\n    const redisStartTime = new Date(redisData.startTime);\n    const redisEndTime = new Date(redisData.endTime);\n    \n    // Get item dates\n    const itemStartDate = item.startDate ? convertToZulu(item.startDate) : null;\n    const itemEndDate = item.endDate ? convertToZulu(item.endDate) : null;\n    \n    // Perform comparisons\n    const startTimeMatch = itemStartDate ? redisStartTime.getTime() === itemStartDate.getTime() : false;\n    const endTimeMatch = itemEndDate ? redisEndTime.getTime() === itemEndDate.getTime() : false;\n    const timesMatch = startTimeMatch && endTimeMatch;\n    \n    // Only return item if times DON'T match\n    if (!timesMatch) {\n      return {\n        json: {\n            oponeoReservationId: redisData.oponeoReservationId,\n        }\n      };\n    }\n    \n    // Return null for matching times (will be filtered out)\n    return null;\n \n}).filter(item => item !== null); // Remove null items\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,4400],"id":"0b50e566-2070-4a85-be21-c0e329edc0ec","name":"Code3"},{"parameters":{"assignments":{"assignments":[{"id":"af150d69-a5ea-487c-b80a-4f55ac939e3b","name":"=id","value":"={{ $json.id.toString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,4304],"id":"2189ccb9-23fd-4269-b53e-0ea588feb020","name":"Edit Fields1"},{"parameters":{"operation":"get","propertyName":"=redisValue","key":"={{ $json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1280,4304],"id":"ac59f16e-0614-41a4-9e0f-327ece7bdbc1","name":"Redis5","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"fieldToSplitOut":"data.items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1728,4208],"id":"90d89b45-ef83-4dc9-b95c-575a31f13772","name":"Split Out1"},{"parameters":{"jsCode":"// This code prepares Redis-ready key-value pairs from nested reservation objects\nconst results = $json.results || [];\n\nreturn results.map(item => {\n  return {\n    json: {\n      key: String(item.reservation.woReservationId),\n      value: JSON.stringify({\n        oponeoReservationId: item.reservationId,\n        startTime: item.startTime,\n        endTime: item.endTime,\n      }),\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,4416],"id":"b6e67160-6faa-4dc5-b8af-73ca01a56891","name":"Code4"},{"parameters":{"operation":"set","key":"={{ $json.key }}","value":"={{ $json.value }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[960,4416],"id":"48c49f83-ce9c-44b0-b6b5-150a44dfb15e","name":"Redis6","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"content":"# WO OLD\n\n","height":1488,"width":3392},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2112,3552],"id":"5dc835b6-6583-49aa-8ede-da5212e76eb9","name":"Sticky Note1"}],"connections":{"Schedule Trigger1":{"main":[[{"node":"Scrape Oponeo1","type":"main","index":0}]]},"Scrape Oponeo1":{"main":[[{"node":"transform to WO format1","type":"main","index":0}]]},"transform to WO format1":{"main":[[{"node":"Merge results1","type":"main","index":0},{"node":"Take only desc from notes","type":"main","index":0}]]},"POST to WO calendar1":{"main":[[{"node":"Merge results1","type":"main","index":1}]]},"Merge results1":{"main":[[{"node":"Add reservation id","type":"main","index":0}]]},"Merge results":{"main":[[{"node":"Notification Determinator","type":"main","index":0}]]},"Check if exists":{"main":[[{"node":"Merge results","type":"main","index":0}]]},"Merge results2":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Add reservation id":{"main":[[{"node":"Check if exists","type":"main","index":0},{"node":"Merge results2","type":"main","index":1},{"node":"Merge results","type":"main","index":1},{"node":"Merge results3","type":"main","index":1}]]},"Redis1":{"main":[[]]},"Code":{"main":[[]]},"Notification Determinator":{"main":[[],[{"node":"Code","type":"main","index":0}],[{"node":"Merge results2","type":"main","index":0}],[{"node":"Merge results3","type":"main","index":0}]]},"Merge results3":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Take only desc from notes":{"main":[[{"node":"POST to WO calendar1","type":"main","index":0}]]},"Merge results4":{"main":[[{"node":"Reservation Splitter","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Obliterator1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"Merge results4","type":"main","index":1}]]},"Split Out":{"main":[[{"node":"Merge results4","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Reservation Splitter":{"main":[[{"node":"Check for out of hours reservations","type":"main","index":0},{"node":"Code2","type":"main","index":0},{"node":"Prepare data for Oponeo","type":"main","index":0}]]},"Prepare data for Oponeo":{"main":[[{"node":"Mutator","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get WO Events","type":"main","index":0}]]},"Check for out of hours reservations":{"main":[[]]},"Compare & Split":{"main":[[{"node":"Obliterator","type":"main","index":0},{"node":"Redis4","type":"main","index":0}]]},"Current Redis Records":{"main":[[{"node":"Compare & Split","type":"main","index":0}]]},"Get WO Events":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Current Redis Records","type":"main","index":0}]]},"Obliterator1":{"main":[[]]},"Mutator":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Merge results5":{"main":[[{"node":"Prepare data for Oponeo1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Merge results5","type":"main","index":1}]]},"HTTP Request1":{"main":[[{"node":"Code4","type":"main","index":0},{"node":"OPONEO => WO1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Check for out of hours reservations1":{"main":[[{"node":"Mailgun2","type":"main","index":0},{"node":"OutOfHours Alert","type":"main","index":0}]]},"Reservation Splitter1":{"main":[[{"node":"Check for out of hours reservations1","type":"main","index":0},{"node":"Code3","type":"main","index":0},{"node":"Merge results5","type":"main","index":0}]]},"Prepare data for Oponeo1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Merge results6":{"main":[[{"node":"Reservation Splitter1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis5","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Merge results6","type":"main","index":1}]]},"Split Out1":{"main":[[{"node":"Merge results6","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Redis6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4c454505-86ff-4b46-9fcc-5c193dc9176e","triggerCount":1,"tags":[]}