workflows/notify-acknowledgement-X21osiBFFvuH6lWy.json
{"createdAt":"2025-06-03T19:54:03.857Z","updatedAt":"2025-07-24T21:20:40.000Z","id":"X21osiBFFvuH6lWy","name":"notify acknowledgement","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const payloadStr = $input.first().json.body.payload;\n\n// Parse it into a proper object\nconst payload = JSON.parse(payloadStr);\nconsole.log(payload.response_url)\nconst reservationId = payload.actions[0].value;\nconst messageTs = payload.container.message_ts;\nreturn [\n  {\n    json: {\n      reservationId,\n      messageTs,\n      slack_response_url: payload.response_url\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,544],"id":"f0e06c39-719d-447e-93e9-d3bc8e8850eb","name":"Code1"},{"parameters":{"operation":"get","propertyName":"=reservation","key":"={{ $json.reservationId }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-880,400],"id":"d2a5d5de-749a-4909-939b-0c01bd37306b","name":"Redis","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"jsCode":"const data = JSON.parse($input.first().json.reservation); // \n\ndata.notification_status = \"resolved\"; // Update the field\nconst reservationId = data.notes.oponeo_url.split('/').pop();\n\nreturn [\n  {\n    json: {\n      reservationId,\n      updatedValue: JSON.stringify(data),\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,400],"id":"8b6c4adb-387f-4a5d-b79d-639a6028e101","name":"Code2"},{"parameters":{"httpMethod":"POST","path":"36a20985-719e-4cd1-ae46-69a050f044ea","responseMode":"lastNode","options":{"rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1328,544],"id":"1e876226-a580-40fa-ba47-d84d87d39001","name":"Webhook1","webhookId":"36a20985-719e-4cd1-ae46-69a050f044ea"},{"parameters":{"operation":"set","key":"={{ $json.reservationId }}","value":"={{ $json.updatedValue }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-448,400],"id":"d14e36a6-e946-4df2-a0b7-7ad1306f8f31","name":"Redis3","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"mode":"mergeByIndex"},"name":"Merge results","type":"n8n-nodes-base.merge","typeVersion":1,"position":[-224,528],"id":"fb469c1c-a18a-4f62-ba3c-edc6f08cae3c"},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.update","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.SLACK_BOT_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ts\": \"{{ $json.messageTs }}\",\n  \"channel\": \"C08GS5XHR42\",\n  \"text\": \":white_check_mark: Rezerwacja została odhaczona!\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"✅ Rezerwacja Odhaczona\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Szczegóły rezerwacji* \\n🔗https://autoserwis.oponeo.pl/rezerwacja/{{ $json.reservationId }}\"\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,528],"id":"0ddd2dd7-bf94-4bac-bee5-e2c48e64f84f","name":"confirm via slack new api"},{"parameters":{"method":"POST","url":"={{ $json.slack_response_url }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"replace_original\": false,\n  \"channel\": \"C08GS5XHR42\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":white_check_mark: Odhaczona!\"\n      }\n    }\n  ]\n}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,784],"id":"9c3b3fef-0001-4c25-a97c-738bb822f89d","name":"confirm via slack old api"},{"parameters":{"path":"74730634-b4fb-4598-ab88-7d37e98ab843","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1328,112],"id":"1dd32ced-0b7a-4350-8680-5d84f6ac28b0","name":"Webhook","webhookId":"74730634-b4fb-4598-ab88-7d37e98ab843"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[224,112],"id":"268f3a8d-d3b6-4a65-985e-b9cbcdeb56c6","name":"Respond to Webhook"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      body: `\n        <!DOCTYPE html>\n        <html lang=\"pl\">\n        <head>\n          <meta charset=\"UTF-8\">\n          <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n          <title>Rezerwacja Odhaczona</title>\n          <style>\n            body {\n              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n              background: linear-gradient(135deg, #f0f4f8 0%, #d9e2ec 100%);\n              margin: 0;\n              padding: 0;\n              display: flex;\n              justify-content: center;\n              align-items: center;\n              height: 100vh;\n              color: #2c3e50;\n            }\n\n            .container {\n              background-color: #ffffff;\n              padding: 50px 40px;\n              border-radius: 12px;\n              box-shadow: 0 12px 30px rgba(0,0,0,0.1);\n              text-align: center;\n              max-width: 280px;\n              width: 90%;\n            }\n\n            .logo {\n              margin-bottom: 24px;\n            }\n\n            .logo img {\n              max-width: 60px;\n              height: auto;\n            }\n\n            h3 {\n              color: #27ae60;\n            }\n\n            p {\n              font-size: 1.1em;\n              color: #555555;\n              margin-bottom: 30px;\n            }\n\n            a.button {\n              background-color: #3498db;\n              color: #ffffff;\n              padding: 14px 28px;\n              border-radius: 8px;\n              text-decoration: none;\n              font-weight: bold;\n              font-size: 1em;\n              transition: background-color 0.3s ease, transform 0.2s ease;\n              display: inline-block;\n            }\n\n            a.button:hover {\n              background-color: #2980b9;\n              transform: translateY(-2px);\n            }\n\n            .footer {\n              margin-top: 40px;\n              font-size: 0.9em;\n              color: #888888;\n            }\n          </style>\n        </head>\n        <body>\n          <div class=\"container\">\n            <div class=\"logo\">\n              <img src=\"https://blinksoft.pl/assets/opony.png\" alt=\"Logo\">\n            </div>\n            <h3>Sukces!</h3>\n            <p>Rezerwacja została pomyślnie odhaczona.</p>\n            <div class=\"footer\">Nie będziesz więcej dostawał notyfikacji na temat tej rezerwacji</div>\n          </div>\n        </body>\n        </html>\n      `\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,208],"id":"2796042e-8806-4f34-bca6-f55d7e9533d4","name":"Code"},{"parameters":{"operation":"get","propertyName":"=reservation","key":"={{ $json.reservationId }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-880,112],"id":"d0d4aaea-bf96-4f15-848c-8f0b4ba718b2","name":"Redis1","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"jsCode":"const data = JSON.parse($input.first().json.reservation); // Redis returns stringified JSON\n\n// If already resolved, return early and tag it\nif (data.notification_status === \"resolved\") {\n  return [\n    {\n      json: {\n        reservationId: data.notes.oponeo_url.split('/').pop(),\n        alreadyResolved: true\n      }\n    }\n  ];\n}\n\n// Otherwise update and return\ndata.notification_status = \"resolved\";\nconst reservationId = data.notes.oponeo_url.split('/').pop();\n\nreturn [\n  {\n    json: {\n      reservationId,\n      updatedValue: JSON.stringify(data),\n      alreadyResolved: false\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112],"id":"ae53f517-6b38-44fb-9b0a-9790ace0359b","name":"Code3"},{"parameters":{"operation":"set","key":"={{ $json.reservationId }}","value":"={{ $json.updatedValue }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-224,208],"id":"120f2c85-7cb6-4eff-b0d5-601cc7d2d04e","name":"Redis4","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      reservationId: $json.query.reservationId\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,112],"id":"9c0808f4-517f-496e-9810-bdfd646d91ca","name":"Code4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a17bb102-368e-4474-ad2c-738900652685","leftValue":"={{ $json.alreadyResolved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,112],"id":"0c5f00a9-3f0c-4400-8c2c-b250bc003ba6","name":"Check if already resolved"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      body: `\n        <!DOCTYPE html>\n        <html lang=\"pl\">\n        <head>\n          <meta charset=\"UTF-8\">\n          <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n          <title>Rezerwacja już odhaczona</title>\n          <style>\n            body {\n              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n              text-align: center;\n              margin: 0;\n              padding: 20px;\n              background: linear-gradient(135deg, #f5f7fa 0%, #d7dde8 100%);\n              display: flex;\n              justify-content: center;\n              align-items: center;\n              min-height: 100vh;\n              color: #2c3e50;\n            }\n            .container {\n              background: #ffffff;\n              padding: 50px 40px;\n              border-radius: 12px;\n              box-shadow: 0 12px 30px rgba(0,0,0,0.1);\n              max-width: 400px;\n              width: 100%;\n              box-sizing: border-box;\n            }\n            .logo {\n              margin-bottom: 24px;\n            }\n            .logo img {\n              max-width: 60px;\n              height: auto;\n            }\n            h3 {\n              font-weight: 700;\n              margin: 0 0 20px;\n              font-size: 1.3em;\n              color: #2c3e50;\n            }\n            .footer {\n              margin-top: 30px;\n              font-size: 0.9em;\n              color: #666666;\n              line-height: 1.4;\n            }\n          </style>\n        </head>\n        <body>\n          <div class=\"container\">\n            <div class=\"logo\">\n              <img src=\"https://blinksoft.pl/assets/opony.png\" alt=\"Logo\">\n            </div>\n            <h3>Rezerwacja już została wcześniej odhaczona</h3>\n            <div class=\"footer\">Nie będziesz więcej dostawał notyfikacji na temat tej rezerwacji</div>\n          </div>\n        </body>\n        </html>\n      `\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"5bafc51a-0fea-461b-88b0-e4120d414f65","name":"Code5"}],"connections":{"Code1":{"main":[[{"node":"Redis","type":"main","index":0},{"node":"Merge results","type":"main","index":1}]]},"Redis":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"Merge results","type":"main","index":0}]]},"Merge results":{"main":[[{"node":"confirm via slack new api","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Check if already resolved","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Check if already resolved":{"main":[[{"node":"Code5","type":"main","index":0}],[{"node":"Redis4","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"KaXFFdgpVeTvCv45"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e5f81683-04d1-4386-ae2e-72ec14192a22","triggerCount":2,"tags":[]}