workflows/syncer_-wo-=_-oponeo-TKnVK036byPhCyR1.json
{"createdAt":"2025-06-06T14:29:36.043Z","updatedAt":"2025-09-29T12:16:02.000Z","id":"TKnVK036byPhCyR1","name":"syncer: WO => OPONEO","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8-23 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1824,2896],"id":"4e982cbe-abaf-4de6-b2c6-d1ba94c26708","name":"Schedule Trigger1"},{"parameters":{"functionCode":"const [woEvents] = $items(\"Get WO Events\", 0).map(item => item.json);\nconst redisRecordsArray = $items(\"Current Redis Records\", 0).map(item => item.json)[0];\n\n// Convert Redis object to array\nconst redisRecords = Object.entries(redisRecordsArray || {}).map(([key, value]) => {\n  try {\n    const data = JSON.parse(value);\n    data.wo_id = +key.split(\":\")[1];\n    return data;\n  } catch (e) {\n    return null;\n  }\n}).filter(Boolean);\n\nconst deletes = [];\n\nfor (const rec of redisRecords) {\n  const foundWO = woEvents.data.items.find(e => e.id === rec.wo_id);\n  \n  if (!foundWO) {\n      deletes.push({ \n        woId: rec.wo_id,\n        oponeoReservationId: rec.oponeoReservationId, \n      });\n  }\n}\n\nreturn deletes;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[-1120,2560],"name":"Compare & Split","id":"c3b95419-07c7-49af-8432-145e92cfd34c"},{"parameters":{"operation":"keys","keyPattern":"WO:*"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1328,2560],"id":"98983229-6ae1-4853-9cd6-b40b4a48f90b","name":"Current Redis Records","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"url":"http:/sync-service:3001/wo/events","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1552,2896],"id":"ab135757-0f62-4246-8993-b2f019b5b37f","name":"Get WO Events"},{"parameters":{"method":"POST","url":"http:/sync-service:3001/oponeo/obliterator","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-912,2672],"id":"d60d86f1-6f8b-446c-a54e-f88b417e2b93","name":"Obliterator"},{"parameters":{"method":"POST","url":"http:/sync-service:3001/oponeo/obliterator","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,2656],"id":"974dc83b-f021-4a4d-95bd-08181538e560","name":"Obliterator1"},{"parameters":{"method":"POST","url":"http:/sync-service:3001/oponeo/mutator","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,2912],"id":"9291b49e-41bb-4f4a-a700-6249bca9909b","name":"Mutator"},{"parameters":{"operation":"delete","key":"=WO:{{ $json.woId }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-912,2464],"id":"92788a68-20a6-4468-88dc-441a607c3494","name":"Redis4","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"mode":"mergeByIndex"},"name":"Merge results","type":"n8n-nodes-base.merge","typeVersion":1,"position":[-656,2912],"id":"58de3fef-a0bb-452b-910d-9a0dd0b122ad"},{"parameters":{"jsCode":"// n8n Custom Code Node\n// This code compares redisValue times with item dates\n// Get input items\nconst input = $input.all()[0].json;\n\nif (input.withinHoursReservations.length < 0) {\n  return [];\n}\n\nconst {withinHoursReservations} = input;\n\nconst convertToZulu = (timestamp) => {\n  return new Date(timestamp.replace(/(\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2})\\+\\d{2}:\\d{2}$/, '$1.000Z'));\n};\n\n// Process each item\nconst outputItems = withinHoursReservations.map((item) => {\n    if(!item.redisValue) return null;\n  \n    // Parse the redisValue JSON string\n    const redisData = JSON.parse(item.redisValue);\n    \n    // Extract Redis times\n    const redisStartTime = new Date(redisData.startTime);\n    const redisEndTime = new Date(redisData.endTime);\n    \n    // Get item dates\n    const itemStartDate = item.startDate ? convertToZulu(item.startDate) : null;\n    const itemEndDate = item.endDate ? convertToZulu(item.endDate) : null;\n    \n    // Perform comparisons\n    const startTimeMatch = itemStartDate ? redisStartTime.getTime() === itemStartDate.getTime() : false;\n    const endTimeMatch = itemEndDate ? redisEndTime.getTime() === itemEndDate.getTime() : false;\n    const timesMatch = startTimeMatch && endTimeMatch;\n    \n    // Only return item if times DON'T match\n    if (!timesMatch) {\n      return {\n        json: {\n            oponeoReservationId: redisData.oponeoReservationId,\n        }\n      };\n    }\n    \n    // Return null for matching times (will be filtered out)\n    return null;\n \n}).filter(item => item !== null); // Remove null items\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,2656],"id":"998ec4d7-07df-4be0-b2b6-05dc313cbbf9","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"af150d69-a5ea-487c-b80a-4f55ac939e3b","name":"=id","value":"={{ $json.id.toString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1104,2992],"id":"b2cb5960-3af4-46f4-bf4a-c8016713a688","name":"Edit Fields1"},{"parameters":{"operation":"get","propertyName":"=redisValue","key":"=WO:{{ $json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-880,2992],"id":"b7709309-41e5-4607-a46b-303038de2ef6","name":"Redis","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"fieldToSplitOut":"data.items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1328,2896],"id":"d7ac7ec0-228f-4748-8368-79fd8398ea09","name":"Split Out1"},{"parameters":{"jsCode":"// This code prepares Redis-ready key-value pairs from nested reservation objects\nconst results = $json.results || [];\n\nreturn results.map(item => {\n  return {\n    json: {\n      key: String(item.reservation.woReservationId),\n      value: JSON.stringify({\n        oponeoReservationId: item.reservationId,\n        startTime: item.startTime,\n        endTime: item.endTime,\n        lastSeen: new Date().toISOString(),\n      }),\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,2912],"id":"9b52f1ce-b677-40a4-87c5-46c35022fe6a","name":"Code3"},{"parameters":{"operation":"set","key":"=WO:{{ $json.key }}","value":"={{ $json.value }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1008,2912],"id":"40a428ed-8221-42da-bde5-05bacd493adb","name":"Redis5","credentials":{"redis":{"id":"vyShnTkoMsjmRs3g","name":"Redis account"}}},{"parameters":{"jsCode":"if ($input.first().json.outOfHoursReservations.length > 0) {\n  return $input.first().json.outOfHoursReservations\n} else {\n  return [];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,3200],"id":"1c238aa7-5ef4-4341-bf0f-9a916ffb3879","name":"Check for out of hours reservations2"},{"parameters":{"jsCode":"const inputData = $input.all().map(i => i.json);\nreturn [\n  {\n    json: (() => {\n      const outOfHoursReservations = [];\n      const withinHoursReservations = [];\n      let hour;\n      \n      for (const reservation of inputData) {\n\n        // fresh resrvations comes with UTC while edited are in Europe/Warsaw Tz ]:\n        const isWarsawWinterTz = reservation.endDate.match(/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\+01:00$/);\n        const endDate = new Date(reservation.endDate);\n        \n        \n        if(isWarsawWinterTz) {\n          hour = endDate.getUTCHours() + 1;\n        } else {\n          hour = endDate.getUTCHours() + 2;\n        }\n        \n        const minutes = endDate.getUTCMinutes();\n\n        const isOutsideWorkingHours = hour > 17 || (hour === 17 && minutes > 0);\n\n        if (isOutsideWorkingHours) {\n          outOfHoursReservations.push(reservation);\n        } else {\n          withinHoursReservations.push(reservation);\n        }\n      }\n\n      return {\n        outOfHoursReservations,\n        withinHoursReservations,\n      };\n    })()\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,2912],"id":"b4b3b5f0-0627-4fbd-824c-e65be88610d0","name":"Reservation Splitter2"},{"parameters":{"jsCode":"// n8n JavaScript Code Node\nconst input = $input.first().json\n\nif (input.withinHoursReservations.length < 0) {\n  return [];\n}\n\nconst {withinHoursReservations} = input;\nconst TICKS_PER_MILLISECOND = 10000;\nconst EPOCH_TICKS_AT_UNIX_EPOCH = 621355968000000000;\n\nfunction convertToUnixEpochWarsaw(isoDateString) {\n\tif (!isoDateString) return null;\n\ttry {\n\t\tconst date = new Date(isoDateString);\n\t\tif (isNaN(date.getTime())) return null;\n\n\t\t// Convert to Warsaw time\n\t\tconst formatter = new Intl.DateTimeFormat('pl-PL', {\n\t\t\ttimeZone: 'Europe/Warsaw',\n\t\t\tyear: 'numeric',\n\t\t\tmonth: '2-digit',\n\t\t\tday: '2-digit',\n\t\t\thour: '2-digit',\n\t\t\tminute: '2-digit',\n\t\t\tsecond: '2-digit',\n\t\t});\n\n\t\tconst parts = formatter.formatToParts(date).reduce((acc, part) => {\n\t\t\tacc[part.type] = part.value;\n\t\t\treturn acc;\n\t\t}, {});\n\n\t\t// Construct local datetime string in Warsaw time\n\t\tconst warsawDateString = `${parts.year}-${parts.month}-${parts.day}T${parts.hour}:${parts.minute}:${parts.second}`;\n\t\tconst warsawDate = new Date(warsawDateString);\n\n\t\treturn warsawDate.getTime() * TICKS_PER_MILLISECOND + EPOCH_TICKS_AT_UNIX_EPOCH;\n\t} catch (error) {\n\t\tconsole.warn(`Failed Warsaw conversion for ${isoDateString}`, error);\n\t\treturn null;\n\t}\n}\n\nfunction parseEvent(event) {\n\treturn {\n\t\twoReservationId: event.id || null,\n\t\tphoneNumber: event.phoneNumber || null,\n\t\tlicencePlate: event.licencePlate || null,\n\t\tstartDate: convertToUnixEpochWarsaw(event.startDate),\n\t\tendDate: convertToUnixEpochWarsaw(event.endDate),\n        redisValue: event.redisValue,\n\t};\n}\n\nconst output = withinHoursReservations.map((item) => parseEvent(item)) || [];\n\nreturn [{\n  json: {\n    debug_mode: false,\n    reservations: output.map(item => item)\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,2912],"id":"d7965767-0512-473f-ac27-be6cea3d8790","name":"Prepare data for Oponeo2"},{"parameters":{"fromEmail":"calendar-syncer@digito.pl","toEmail":"hurt@digito.com.pl","subject":"❌ Synchronizacja kalendarzy nie powiodła się","html":"={{(() => {\n  const data = $json;\n  const from = DateTime.fromISO(data.startDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm');\n  const to = DateTime.fromISO(data.endDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm');\n  const reservationId = (data.notes || '').split('/').pop();\n\n  return `\n    <div style=\"max-width:600px; margin:auto; font-family:Arial,sans-serif; background:#ffffff; border-radius:10px; padding:24px; border:1px solid #e0e0e0; color:#333333; box-shadow:0 2px 6px rgba(0,0,0,0.05);\">\n      <div style=\"text-align:center; margin-bottom:24px;\">\n        <img src=\"https://blinksoft.pl/assets/opony.png\" alt=\"Logo\" style=\"max-width:50px; height:auto;\" />\n      </div>\n\n      <p style=\"text-align:center; font-size:15px; margin-bottom:30px;\">Godzina <strong>Do</strong> wykracza poza normalne godziny pracy:</p>\n\n      <table cellpadding=\"10\" cellspacing=\"0\" style=\"width:100%; font-size:15px; border-collapse:collapse;\">\n        <tr>\n          <td style=\"font-weight:bold; width:40%;\">Termin:</td>\n          <td>\n            • Od: ${from}<br/>\n            • Do: ${to}\n          </td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Numer rejestracyjny:</td>\n          <td>${data.licencePlate || 'Brak'}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Telefon:</td>\n          <td>${data.prefix || ''} ${data.phoneNumber || 'Brak'}</td>\n        </tr>\n        <tr>\n          <td style=\"font-weight:bold;\">Edytuj rezerwację:</td>\n          <td><a href=\"https://serwis.wymianaopon.pl/zaplanowane\" style=\"color:#0d6efd;\" target=\"_blank\">Kliknij tutaj</a></td>\n        </tr>\n      </table>\n    </div>\n  `;\n})()}}\n"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[80,3088],"id":"88a1416f-f4a2-4ade-a1fa-beb66064dd95","name":"Mailgun1","credentials":{"mailgunApi":{"id":"eo8dvaKCvAnrFo07","name":"Mailgun account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C090JGLJ4VC","mode":"id"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*❌ Synchronizacja dla poniższej rezerwacji nie powiodła się, godzina 'Do' wykracza poza normalne godziny pracy:*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Termin:*\\n• Od: {{ DateTime.fromISO($json.startDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm') }}\\n• Do: {{ DateTime.fromISO($json.endDate).setLocale('pl').toFormat('d LLLL yyyy, HH:mm') }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Nr rejestracyjny:*\\n{{ $json.licencePlate || 'Brak' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Telefon:*\\n{{ $json.prefix || '' }} {{ $json.phoneNumber || 'Brak' }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"\\n<https://serwis.wymianaopon.pl/zaplanowane|Edytuj rezerwację bezpośrednio w WO>\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    }\n  ]\n}\n","text":"={{ $json }}","otherOptions":{"includeLinkToWorkflow":false,"link_names":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[80,3328],"id":"7da04f2c-1d86-4a2f-a35b-e939f13edf5f","name":"OutOfHours Alert1","webhookId":"ef236322-8cac-4f69-b863-e93223accb51","credentials":{"slackApi":{"id":"6PYTheTObTRlhwek","name":"Slack api"}}},{"parameters":{"workflowId":{"__rl":true,"value":"X6Yzdzg8neppbMAW","mode":"list","cachedResultName":"syncer: OPONEO => WO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1264,3568],"id":"78722e19-7168-4362-866c-ba45e06771f2","name":"OPONEO => WO"},{"parameters":{"content":"# The Nebuchadnezzar\n","height":80,"width":400,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2128,2800],"id":"0c82ebe1-e2ea-4381-905f-5db5647dd960","name":"Sticky Note2"},{"parameters":{"content":"","height":96,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[192,2656],"id":"b665a833-edc9-4e77-801b-787e4b5e6785","name":"Sticky Note"},{"parameters":{"content":"","height":96,"width":560,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[176,3088],"id":"90109446-a89c-4baf-a61c-cc2a970e48bf","name":"Sticky Note1"},{"parameters":{"content":"","height":96,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1104,2912],"id":"09b4d29a-8a10-4592-92fe-9be7d4c23582","name":"Sticky Note4"},{"parameters":{"content":"","height":96,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,2672],"id":"c2225b10-3b80-48ca-8e53-bb22d0cab4bb","name":"Sticky Note5"},{"parameters":{"content":"","height":96,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,2464],"id":"5058fbaa-58b5-46c2-9a48-c94c086a2c85","name":"Sticky Note6"},{"parameters":{"content":"","height":96,"width":560,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[176,3328],"id":"719404a5-586a-470d-8484-0450d2753299","name":"Sticky Note7"}],"connections":{"Schedule Trigger1":{"main":[[{"node":"Get WO Events","type":"main","index":0}]]},"Compare & Split":{"main":[[{"node":"Obliterator","type":"main","index":0},{"node":"Redis4","type":"main","index":0}]]},"Current Redis Records":{"main":[[{"node":"Compare & Split","type":"main","index":0}]]},"Get WO Events":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Current Redis Records","type":"main","index":0},{"node":"OPONEO => WO","type":"main","index":0}]]},"Mutator":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Merge results":{"main":[[{"node":"Reservation Splitter2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Obliterator1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Merge results","type":"main","index":1}]]},"Split Out1":{"main":[[{"node":"Merge results","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Redis5","type":"main","index":0}]]},"Reservation Splitter2":{"main":[[{"node":"Check for out of hours reservations2","type":"main","index":0},{"node":"Code","type":"main","index":0},{"node":"Prepare data for Oponeo2","type":"main","index":0}]]},"Prepare data for Oponeo2":{"main":[[{"node":"Mutator","type":"main","index":0}]]},"Check for out of hours reservations2":{"main":[[{"node":"Mailgun1","type":"main","index":0},{"node":"OutOfHours Alert1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"KaXFFdgpVeTvCv45"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"e214cc83-4c6c-47c5-990b-95e01bdc8f2a","triggerCount":1,"tags":[]}